<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= characterData.fullName %></title>
    <link href="https://fonts.googleapis.com/css2?family=Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card mb-3">
            <img src="<%= characterData.imageUrl %>" class="card-img-top" alt="<%= characterData.fullName %>">
            <div class="card-body">
                <h5 class="card-title"><%= characterData.fullName %></h5>
                <p class="card-text"><strong>Título:</strong> <%= characterData.title %></p>
                <p class="card-text"><strong>Familia:</strong> <%= characterData.family %></p>
                <p class="card-text"><strong>Nacido:</strong> <%= characterData.born %></p>
                <p class="card-text"><strong>Fallecido:</strong> <%= characterData.died %></p>
                <p class="card-text"><strong>Aliases:</strong> <%= characterData.aliases.join(', ') %></p>
            </div>
        </div>
        <a href="/" class="btn btn-primary">Volver a la página principal</a>
    </div>
    <script src="index.js"></script>
</body>
</html>